/*headings paras*/
p{
    color: white;
    text-align: center;
}
h1{
    color: white;
    text-align: center;
}
/*section1*/
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.S1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/fbpfp.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-color: black;
}
.pone{
    text-align: center;
    color: white;
}
.hone{
    text-align: center;
    color: white;
}
/*section2*/
.S2{
    margin-top: 20px;
    border: solid 5px red;
}
/*section3*/
.S3{
    margin-top: 20px;
    border: solid blue 5px;
}
/*footer*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(220, 199, 143);
    color: white;
    text-align: center;
}